nav{
    background: rgba(92, 91, 91, 0.229);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(25px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.4);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

/* ====================== Media Queries (Medium Devices) ======================= */

@media only screen and (max-width: 1024px) {
    nav{
        width: 50%;
    }

    nav a{
        padding: 0.75rem;
    }
}

/* @media only screen and (min-width: 768px) {
    nav{
        width: 50%;
    }

    nav a{
        padding: 0.75rem;
    }
  }

@media only screen and (min-width: 992px) {
    nav{
        width: 50%;
    }

    nav a{
        padding: 0.75rem;
    }
}

@media only screen and (min-width: 1200px) {
    nav{
        width: 50%;
    }

    nav a{
        padding: 0.75rem;
    }
  } */

/* ====================== Media Queries (Small Devices) ======================= */
  
@media only screen and (max-width: 900px) {
    nav{
        width: 94%;
    }

    nav a{
        padding: 0.46rem;
    }
  }

  @media screen and (max-width: 500px) {
    nav{
        width: 82%;
    }

    nav a{
        padding: 0.27rem;
    }
  }

  @media screen and (max-width: 330px) {
    nav{
        width: 90%;
    }

    nav a{
        padding: 0.25rem;
    }
  }

  /* @media only screen and (max-width: 600px) {
    nav{
        width: 90%;
    }

    nav a{
        padding: 0.25rem;
    }
  }

  @media only screen and (min-width: 600px) {
    nav{
        width: 82%;
    }

    nav a{
        padding: 0.27rem;
    }
  } */
  